# Ignore arquivos de sistema operacional
.DS_Store
Thumbs.db
desktop.ini

# Ignore pastas de configurações de editores
.idea/
.vscode/
*.swp
*.swo

# Ignore arquivos de logs ou testes locais
*.log
/tmp/
